/*
text color:#36384c;
link : #849974
white :#f9dccd*/
body{
}
header{
	height: 5em;
}
.col,
.col-md-12,
.col-lg-4{
	overflow: hidden;
	color:#36384c; 
}
footer .row{
	max-width: 100%;
	margin:0 0 0 0;
	background-color: #36384c;
	color: #f9dccd;
}
footer .copyrights{
	margin:3em 0em 1em 5em;
}
footer .footer-text{
	margin: 0 0 0 5em;

}
footer a {
	color: #849974;

}
footer a:hover {
	color: #849974;

}

/* @keyframes head {
from {top:19%;}
50% {top:21%;}
to {top:19%;}
}
*/
img{
	max-width: 100%;
	max-height: 100%;
}

@font-face {
	font-family: retro_computer;
    src: url(../fonts/12081.ttf);
	font-style: normal;
} */

