.content-box{
	 display: flex;
	 justify-content: space-between;
	 flex-direction: row;
	 flex-wrap: wrap;
	 flex-basis: 50%;
	 width: 90%;
	 margin: 0% 5% 0% 5%;
	 column-count: 2;

}
.content-box
.content
.img-box{
	width: 48%;
	height: auto;
	margin: 3% 1% 1% 1%;
}

.content-box
.content
.img-box
img{
	width: 100%;
	height: auto;
}
/*.content-box > * {
    flex: 1 1 450px;
}*/
/* @keyframes head {
from {top:19%;}
50% {top:21%;}
to {top:19%;}
}
*/


@font-face {
	font-family: retro_computer;
    src: url(../fonts/12081.ttf);
	font-style: normal;
} */

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

}

/* iPad 3**********/
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px){


} 

/* Настольные компьютеры и ноутбуки ----------- */
@media only screen  
and (min-width: 1224px){

}

