<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
	<title>Roll the dice</title>
</head>
<body>
	<div class="container-fluid" id="app">
        <div class="row">

            <div class="col-12">
                <h3 class="text-center">Dungeons & Dragons Dice Roller</h3>
            </div>

            <div class="col-md-12 col-lg-9">
                <div class="container d-none d-md-block">
                    <div class="row">
                        <div class="d-flex col-12" v-for="(dice,index) in dices">
                                <div class="col-2 d-flex justify-content-center" v-if="dice.name !== 'dX'"><button class="btn btn-outline-primary" v-on:click="roll(dice)">{{dice.name}}</button></div>
                                <div class="col-2 d-flex justify-content-center" v-else><input class="form-control" type="text" v-model="dice.roll" placeholder="dX"></div>
                                <div class="col-1"><input  class="form-control" type="text" v-model="dice.numOfRolls"></div>
                                <div class="col-1">{{dice.name}}</div>
                                <div class="col-1">+</div>
                                <div class="col-1"><input class="form-control" type="text" v-model="dice.rollMod"></div>
                                <div class="col-1"><button class="btn btn-outline-primary" v-on:click="roll(dice)">Roll</button></div>
                                <div class="col-2"><input class="form-control" type="text" v-model="dice.rollRes" readonly placeholder="Results"></div>
                                
                         </div>
                    </div>
                </div>
                
                <div class="container d-block d-md-none">
                        <div class="row align-items-center ">
                            <div class="d-flex col-12" v-for="(dice,index) in dices">
                                   
                                    <div class="col-2"><input  class="form-control" type="text" v-model="dice.numOfRolls"></div>
                                    <div class="col-2" v-if="dice.name !== 'dX'"><button class="btn btn-outline-primary" v-on:click="roll(dice)">{{dice.name}}</button></div>
                                    <div class="col-2 d-flex" v-else><input class="form-control" type="text" v-model="dice.roll" placeholder="dX"></div>
                                    <div class="col-1">+</div>
                                    <div class="col-2"><input class="form-control" type="text" v-model="dice.rollMod"></div>
                                    <div class="col-2"><button class="btn btn-outline-primary" v-on:click="roll(dice)">Roll</button></div>
                                    <div class="col-3"><input class="form-control" type="text" v-model="dice.rollRes" readonly placeholder="Results"></div>
                                    
                             </div>
                        </div>
                    </div>
            </div>

            <div class="col-md-4 col-lg-3">
                
                <div class="col-12">
                    <h5>Log <button class="btn btn-secondary" v-on:click="clearLog()">Clear</button></h5>   
                </div>
                <textarea readonly v-model="rollsLog"  rows="15" class="form-control col-12"
                    placeholder="There is a log of your rolls This field records your latest roll at its top.">
                </textarea>
                
            </div>
        </div>					
    </div>
	
	<script type="text/javascript" src="main.js"></script>
</body>
</html>