
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}
.section-head {
    box-sizing: border-box;
	color: #E8E8E9;
	height: 100%;
	display: table;
	width: 100%

}
.section-descr{
	display: table-row;
}
.section-centered{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
.section-text h1{
	vertical-align: middle;
	font-weight: bold;
	font-size: 64px;
	text-align: center;
}
.section .btn {
	margin-top: 10px;
	margin-bottom: 10px;
}
.section{
    background-color:#FFF;
}
footer{
    background-color:#1E1E1E;
    padding-left:25px;
    color:#E8E8E9;
}