@{
    ViewBag.Title = "Home Page";
}

<div class="main_head" data-parallax="scroll" data-image-src="https://pp.vk.me/c631331/v631331444/4344b/teaYIXZ0UxA.jpg" id="header">
    <div class="section-head">
        <div class="section-descr">
            <div class="section-centered">
                <div class="section-text">
                    <h1>D4k</h1>
                    <p>We know what we do</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1>A title</h1>
                    <h3>A subtitle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <a class="btn btn-primary">Click me</a>
                    <a class="btn btn-primary">Click me</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>A title</h1>
                    <h3>A subtitle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <a class="btn btn-primary">Click me</a>
                    <a class="btn btn-primary">Click me</a>
                </div>
                <div class="col-md-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <h1>A title</h1>
                    <h3>A subtitle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <a class="btn btn-primary">Click me</a>
                    <a class="btn btn-primary">Click me</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>A title</h1>
                    <h3>A subtitle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    <a class="btn btn-primary">Click me</a>
                    <a class="btn btn-primary">Click me</a>
                </div>
                <div class="col-md-6">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
